//reset
*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
nav,
footer,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

body {
    margin: 0;
}

img {
    max-width: 100%;
    border-radius: 20px;
}


// TYPOGRAPHY

@font-face {
    font-family: "tp-1";
    font-weight: 800;
    line-height: 150%;
    font-size: 1.5rem;
    src: url("/src/assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "tp-2";
    font-weight: 500;
    line-height: 150%;
    font-size: 1rem;
    src: url("/src/assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "tp-3";
    font-weight: 500;
    line-height: 150%;
    font-size: .875rem;
    src: url("/src/assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "tp-3-bold";
    font-weight: 800;
    line-height: 150%;
    font-size: .875rem;
    src: url("/src/assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}


$yellow: #F4D04E;
$gray-950: #111111;
$gray-500: #6B6B6B;
$white: #FFFFFF;

body{
    background-color: $yellow;
    display: flex;
    justify-content:center;
    align-self:center
}
.card {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    background-color: $white;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: 1.5rem;
}
.image-container {
    width: 100%;
    //padding: 10px;
    
}

.card-content {
    display: flex;
    flex-direction: column;
}
.learning {
    display: flex;
    flex-direction: row;
    p {
        background-color: $yellow; 
        //max-width: 40%;
        border-radius: 10%;
        font-family: 'tp-3-bold';
        padding: .5em;
     }
}

.published {
    font-family: 'tp-3';
}

.title {
    font-family: 'tp-1';
}

.content {
    font-family: 'tp-3';
    color: $gray-500;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        margin-right: 1rem;
        
    }
    .author {
        font-family: 'tp-3-bold';
    }
}



